

body {
    margin: 0;
    font-size: 28px;
}

.header {
    background-color: #B0C4DE;
    padding: 30px;
    text-align: center;
}

#navbar{
    z-index: 8;
    overflow: hidden;
    background-color: #98A599;
    overflow: hidden;

}

#navbar a {
    float: left;
    display: block;
    color: #474A51;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}



#navbar a:hover{
    background-color: #ddd;
    color: black;
}



.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 60px;
}

/*navbar dropdown*/





/*footer*/
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.bg-lightgray
{
    background-color:LightGray;
}



/*Line*/
.title {
    /* чтобы линии не выходили за ширину блока заголовка */
    overflow: hidden;
}
.title:before,
.title:after {
    content: '';

    /* делаем линию строчно-блочной */
    display: inline-block;

    /* выравниваем вертикально по середине */
    vertical-align: middle;

    /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
    box-sizing: border-box;

    /* установка ширины в 100% делает линию равной ширине тега заголовка
    ** благодаря этому линия заполнит все свободное пространство
    ** слева и справа от текста
    */
    width: 100%;
    height: 1px;
    background: #474A51;

    /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
    ** благодаря этому создается нужный отступ между линиями и текстом
    */
    border: solid #474A51;
    border-width: 0 10px;
}
.title:before {
    /* смещаем левую линию влево отрицательным отступом, равным 100% ширины
    ** благодаря этому линия встает слева от текста
    */
    margin-left: -100%;
}
.title:after {
    /* смещаем правую линию вправо отрицательным отступом, равным 100% ширины
    ** благодаря этому линия встает справа от текста
    */
    margin-right: -100%;
}

/*accordeon  */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}

/**/

#contact{
    background:#ddd;
    color:#474a51;
    padding-bottom:30px;
}

textarea.form-control{
    height:100px;
}

/*paralax*/
.parallax {
    /* The image used */
    background-image: url('../Pics/femida1.jpg');

    /* Full height */
    height: 75%;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

body, html {
    height: 100%;
}



