

.about-us-text{
    padding-top: 10px;

}

.section-about-us{
    padding-top: 20px;
}

.lawyer-pic{
    height: auto;
    width: 100%;
}

#about-us-name{
    color: red;
}

.pr-area{
    margin-top: 30px;
}

.pr-area-pic{
    height: auto;
    width: 100%;
}



.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cont{
    position: relative;
    text-align: center;
    color: white; }